html {
    height: 100%;
    width: 100%;
    background-color: #b7ccaf;
}

body  {
    height: 980px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #3D5360; 
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: 600;
    line-height: 1.5em;
    padding-left: 25px;
    font-size: 200%;
    text-align: left;
}

nav ul {
    list-style: none;
    text-align: center;
    
}

nav li {
    display: inline-block; /* Display list items in a horizontal line */
    margin-right: 5vw; /* Add some spacing between list items */
}

nav a {
    color:#3D5360;
    font-size: 120%;
    text-decoration: none; /* Remove underline from anchor links */
}

th{
    font-size: 120%;
}

footer{
    font-size: 120%;
    padding:20px;
    position: fixed;
    bottom: 0;
}

.back-link{
    color: #3D5360;
    text-decoration: none;
    padding-left: 20px;
    align-self: flex-start;
}
nav a:hover,.back-link:hover, .action:hover{
    text-decoration: underline;
    font-weight: bold;
}

h2{
    padding: 5px 35px;
    text-align: center;
}

textarea{font-family: Arial, Helvetica, sans-serif;}
.action{
    border: 2px solid #3D5360;
    text-align: center;
    padding:3px;
    color: #3D5360;
    text-decoration: none;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#filterContainer{
    margin-left: 30px;
    margin-bottom:10px;

}
#filterForm {
    display: inline;
    width:100%;
}

#filterForm label, #genreFilter{
    width:120px;
}

#filterBtn{
    width:120px;
    font-size: 90%;
    background-color: #3D5360;
    color:#b7ccaf;
    margin: 15px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 15px;
}

.filter a{
    text-decoration: none;
    margin-left: 30px;
    width: 135px;
}



.new_record, .page_edit,.page_delete, .page_view{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.book_info{
    text-align: end;
}

img{
    padding-right: 20px;
}
.list{
    width:100%;
    line-height: 2em;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-wrap: wrap;
    padding-left: 10px;
}

.list th{
    padding-right: 20px;
    text-align: start;
}

form{
    width:500px;
    line-height: 1.5em;
    
}

label{
    display: inline-block;
    width: 200px; 
    font-weight: bold;
    text-align: end;
}

dl{
    display: flex;
    flex-direction: row;
    
}

dt {
    font-size:120%;
    width: 200px; 
    font-weight: bold;
    padding: 5px;
}


.book-info label{
    text-align: end;
    padding:20px 20px;
    position: relative;
    right: 25px;
}

dd, .short{
    width: 200px;
    font-size:100%;
    padding: 5px;
    text-align: start;
}

.dropdown{

    width: 214px;
    font-size:100%;
    padding: 5px;
    text-align: start;
}

.tall{
    width: 202px;
    height:3em;
    font-size:120%;
    padding: 5px;
}
.longText{
    max-width: 20vw;
}

.item{
    font-size: 120%;

}
.button input{
    font-size: 90%;
    background-color: #3D5360;
    color:#b7ccaf;
    margin: 15px;
    line-height:1em;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 15px;
    width: 11em;
    height:2em;
}

