body  {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #3D5360; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b7ccaf;
}

.content{
    height:100vh;
}

header h1 {
    font-weight: 600;
    line-height: 1.5em;
    padding-left: 25px;
    font-size: 200%;
    text-align: left;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block; /* Display list items in a horizontal line */
    margin-right: 5vw; /* Add some spacing between list items */
}

nav a {
    color:#3D5360;
    font-size: 120%;
    text-decoration: none; /* Remove underline from anchor links */
}

th{
    font-size: 120%;
}

footer{
    font-size: 120%;
    padding:20px;
    position: fixed;
    bottom:0;
}

.back-link{
    color: #3D5360;
    text-decoration: none;
    padding-left: 20px;
    align-self: flex-start;
}

nav a:hover,.back-link:hover, .action:hover{
    text-decoration: underline;
    font-weight: bold;
}

h2{
    padding: 5px 35px;
    text-align: center;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

.action{
    border: 2px solid #3D5360;
    text-align: center;
    padding:3px;
    color: #3D5360;
    text-decoration: none;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#filterContainer{
    margin-left: 30px;
    margin-bottom:10px;

}
#filterForm {
    display: inline;
    width:100%;
}

#filterForm label, #genreFilter{
    width:120px;
}

#filterBtn{
    width:120px;
    font-size: 90%;
    background-color: #3D5360;
    color:#b7ccaf;
    margin: 15px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 15px;
}

.filter a{
    text-decoration: none;
    margin-left: 30px;
    width: 135px;
}

dl{
    width:500px;
    display: flex;
    flex-direction: row;
}

.view_list dt{
    width:150px;
    text-align: end;
    padding: 5px;
    line-height: 1em;
}

.view_list dd{
    width:450px;
    text-align: start;
    padding:5px;
}

.page_edit,.page_delete, .page_view{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new_record{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.warning {
    text-align: left;
    margin-left:15px;
    color: red;
    font-size: 90%;
    order:2
}

img{
    padding-right: 20px;
}

#imagePath{
    width:220px;
}

.list{
    width:100%;
    line-height: 2em;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
}

.list th{
    padding: 15px;
    text-align: left;
}

.list td{
    text-align: left;
    padding-left: 10px;
}

form{
    width:400px;
    line-height: 1.2em;
    
}

#myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}


dt {
    font-size:120%;
    width: 200px; 
    font-weight: bold;
    padding: 5px;
}

.book-info{
    width:500px;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.book-info label{
    width:200px;
    text-align: start;
    margin: 20px 15px;
    font-weight: bold;
}

.book-info input{
    width: 200px;
    font-size:100%;
    text-align: start;
}

.book-info dt{
    width:150px;
    text-align: start;
    margin:0;
    padding: 0;
}



.short{
    width: 200px;
    font-size:100%;
    padding: 5px;
    text-align: start;
    height: 1em;

}

.dropdown{
    width: 214px;
    font-size:110%;
    margin: 15px 0;
    text-align: start;
}

.tall{
    font-size: 100%;
    width: 202px;
    height:3em;
    padding: 5px;

}

.longText{
    max-width: 30vw;
}

.item{
    font-size: 120%;

}

.button{
    width: 100%;

}

.button input, #submit, #reset{
    font-size: 90%;
    background-color: #3D5360;
    color:#b7ccaf;
    margin: 15px;
    line-height:1em;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 15px;
    width: 11em;
    height:2em;
}

@media (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }
    
    .content {
        flex: 1;
    }

    nav li{
        display:block;
    }

    .filter {
        flex-direction: column; /* Stack filter elements vertically */
        align-items: center;
    }

    #genreFilter {
        width: 100%; 
        margin-bottom: 10px; 
    }

    dl, .book-info{
        display:block;
        margin-left: 10px;
    }

    .short,.dropdown,.tall {
        width: 70vw;
        display: block;
        margin-left: 10px;
    }

    .list {
        width: 100%;
    }

    .list tr{
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .list th{
        display:none;
    }

    .list td {
        min-width: 100%;
        display: block;
    }

    .button,.button input, #submit, #reset{
        display:block;
        width:min-content;
        height:min-content;
        align-items:start;
    }

    footer{
        position: relative;
        bottom:0;
    }

}