html {
    height: 100%;
    width: 100%;
    background-color: #b7ccaf;
}

body {
    height: 980px;
    width: 100%;
    margin: 0;
    padding: 0;
}

header h1 {
    font-weight: 600;
    line-height: 1.5em;
    padding: 5px;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#3D5360;
}

nav ul {
    list-style: none;
    text-align: center;
    
}

nav li {
    display: inline-block; /* Display list items in a horizontal line */
    margin-right: 5vw; /* Add some spacing between list items */
}

nav a {
    font-size: 120%;
    text-decoration: none; /* Remove underline from anchor links */
    color: #3D5360; 
}

footer{
    font-size: 120%;
    color: #3D5360; 
}

h2{

}