header {
  font-size: 17px;
  background-image: linear-gradient(#e89f72, #d01e1e);
  background-color: #cf8181;
  text-align: center;
  border-style: double;
  border-radius: 15px;
  width: auto;
  height: auto;
  padding-top: 0%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  text-decoration: none;
  padding: 5px 5px 20px 5px;
}

footer {
  font-size: 15px;
  padding: 10px;
  background-image: linear-gradient(#e89f72, #d01e1e);
  background-color: #cf8181;
  text-align: right;
  border-style: double;
  border-radius: 15px;
  width: auto;
  height: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(#da7777, #1d0fba);
  color: antiquewhite;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: block;
  font-size: 15px;
  margin: 1% 20%;
  padding: 10px;
  text-align: center;
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif
}

.regItem {
  padding: 3px;
  margin: 0px 50px;
  display: grid;
  grid-template-areas: "label"
      "input";
}

@media only screen and (max-width: 1000px) {
  .container {
    display: block;
    font-size: 15px;
    margin: 1% 10%;
    padding: 10px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif
  }
}
  


@media only screen and (max-width: 768px) {
  .container {
    display: block;
    font-size: 15px;
    margin: 1% 5%;
    padding: 10px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif
  }

  .regItem {
    padding: 3px;
    margin: 0px 2px;
    display: grid;
    grid-template-areas: "label"
      "input";
  }

  nav {
    display: flex;
  }

}


label {
  grid-area: label;
  padding: 3px;
}

input {
  grid-area: input;
  padding: 3px;
  border: solid 1px black;
  text-align: center;
}

.aaa {
  padding-right: auto;
  position: relative;
  padding-inline: 9%;
  padding: 10px;

}

.error {
  visibility: hidden;
  color: #f95454;
  padding: 5px;
}

.mediaGenre {
  visibility: hidden;
}


button {
  background-color: #cf8181;
  color: white;
  padding: 10px 34px;
  margin: 5%;
  bottom: 10;
  font-size: 14px;
}